      <form action="/search" method="POST">
        <div>    
            Search:<input type="text" name="search"> 
        </div>
      <input class="button" type="submit" name="search" value="Submit">
      </form>		