<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="css" href="theme.css">
		<title>Document</title>
	</head>
	<body>
		<h1>
			The Movie Grabber
		</h1>
	<%= yield %>	
	</body>
</html>